{% extends 'base.html' %}

{% block title %}Alertas{% endblock %}

{% block content %}
<h1>Alertas</h1>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Nro Última Orden Compra</th>
            <th>Fecha Finalización</th>
            <th>Saldo Días</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for contratacion in contrataciones %}
        <tr>
            <td>{{ contratacion.nombre }}</td>
            <td>{{ contratacion.nro_ultima_orden_compra }}</td>
            <td>{{ contratacion.fecha_finalizacion }}</td>
            <td>{{ contratacion.saldo_dias }}</td>
            <td>
                <a href="{% url 'contratacion_update' contratacion.pk %}" class="btn btn-sm btn-warning">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
